In [1]:
import pandas as pd
import numpy as np

data = pd.read_excel(r"E:/duke 2025 Spring/Customer Call List.xlsx")

data.head()

C:\Users\Anri Wang\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True

In [2]:
data.shape

(21, 8)

In [3]:
data.columns

Index(['CustomerID', 'First_Name', 'Last_Name', 'Phone_Number', 'Address',
       'Paying Customer', 'Do_Not_Contact', 'Not_Useful_Column'],
      dtype='object')

In [4]:
data.dtypes

CustomerID            int64
First_Name           object
Last_Name            object
Phone_Number         object
Address              object
Paying Customer      object
Do_Not_Contact       object
Not_Useful_Column      bool
dtype: object

In [5]:
data.isnull().sum()

CustomerID           0
First_Name           0
Last_Name            1
Phone_Number         2
Address              0
Paying Customer      0
Do_Not_Contact       4
Not_Useful_Column    0
dtype: int64

In [6]:
data = data.drop_duplicates()

In [7]:
data = data.drop(columns = 'Not_Useful_Column')
data.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No

In [8]:
data['Last_Name'] = data['Last_Name'].str.replace(r'[/_.]', '', regex=True)

In [9]:
data['Phone_Number'] = data['Phone_Number'].astype(str).str.replace(r'[^A-Za-z0-9]', '', regex=True)
data['Phone_Number'] = data['Phone_Number'].str.replace(r'[nanN]', '', regex=True)
data['Phone_Number'] = data['Phone_Number'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:9])
data['Phone_Number'] = data['Phone_Number'].str.replace('--', '', regex=True)

In [10]:
data[['Street_Add','State','zipcode']] = data['Address'].str.split(',', n=2, expand = True)
data.drop(columns = 'Address')

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Add,State,zipcode
0,1001,Frodo,Baggins,123-545-542,Yes,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-977,No,Yes,93 West Main Street,None,None
2,1003,Walter,White,706-695-039,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-234,Yes,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-346,Y,No,123 Dragons Road,None,None
5,1006,Ron,Swanson,304-762-246,Yes,Yes,768 City Parkway,None,None
6,1007,Jeff,Winger,,No,No,1209 South Street,None,None
7,1008,Sherlock,Holmes,876-678-346,N,No,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,Yes,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,123-545-542,Yes,No,25th Main Street,New York,None
10,1011,Samwise,Gamgee,,Yes,No,612 Shire Lane,Shire,None
11,1012,Harry,Potter,706-695-039,Y,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123-543-234,Yes,N,2039 Main Street,None,None
13,1014,Leslie,Knope,876-678-346,Yes,No,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-762-246,N,No,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-545-542,No,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-643-977,Yes,No,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,706-695-039,Y,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,,N/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876-678-346,Yes,N,910 Tatooine Road,Tatooine,None

In [16]:
data['Paying Customer'] = data['Paying Customer'].str.replace('Yes','Y')
data['Paying Customer'] = data['Paying Customer'].str.replace('No','N')
data['Paying Customer'] = data['Paying Customer'].str.replace('N/a','')

data['Do_Not_Contact'] = data['Do_Not_Contact'].str.replace('Yes','Y')
data['Do_Not_Contact'] = data['Do_Not_Contact'].str.replace('No','N')
data['Do_Not_Contact'] = data['Do_Not_Contact'].fillna('')

data

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Add,State,zipcode
0,1001,Frodo,Baggins,123-545-542,"123 Shire Lane, Shire",Y,N,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-977,93 West Main Street,N,Y,93 West Main Street,None,None
2,1003,Walter,White,706-695-039,298 Drugs Driveway,N,,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-234,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-346,123 Dragons Road,Y,N,123 Dragons Road,None,None
5,1006,Ron,Swanson,304-762-246,768 City Parkway,Y,Y,768 City Parkway,None,None
6,1007,Jeff,Winger,,1209 South Street,N,N,1209 South Street,None,None
7,1008,Sherlock,Holmes,876-678-346,98 Clue Drive,N,N,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,123 Middle Earth,Y,,123 Middle Earth,None,None
9,1010,Peter,Parker,123-545-542,"25th Main Street, New York",Y,N,25th Main Street,New York,None
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,N,612 Shire Lane,Shire,None
11,1012,Harry,Potter,706-695-039,2394 Hogwarts Avenue,Y,,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123-543-234,2039 Main Street,Y,N,2039 Main Street,None,None
13,1014,Leslie,Knope,876-678-346,343 City Parkway,Y,N,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-762-246,214 HR Avenue,N,N,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-545-542,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-643-977,"121 Paper Avenue, Pennsylvania",Y,N,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,706-695-039,3498 Super Lane,Y,,3498 Super Lane,None,None
18,1019,Creed,Braton,,N/a,,Y,N/a,None,None
19,1020,Anakin,Skywalker,876-678-346,"910 Tatooine Road, Tatooine",Y,N,910 Tatooine Road,Tatooine,None

In [23]:
df1 = data[data['Do_Not_Contact'] == 'N']
df1 = df1[df1['Phone_Number'] != '']

df1

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Add,State,zipcode
0,1001,Frodo,Baggins,123-545-542,"123 Shire Lane, Shire",Y,N,123 Shire Lane,Shire,None
4,1005,Jon,Snow,876-678-346,123 Dragons Road,Y,N,123 Dragons Road,None,None
7,1008,Sherlock,Holmes,876-678-346,98 Clue Drive,N,N,98 Clue Drive,None,None
9,1010,Peter,Parker,123-545-542,"25th Main Street, New York",Y,N,25th Main Street,New York,None
12,1013,Don,Draper,123-543-234,2039 Main Street,Y,N,2039 Main Street,None,None
13,1014,Leslie,Knope,876-678-346,343 City Parkway,Y,N,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-762-246,214 HR Avenue,N,N,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-545-542,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-643-977,"121 Paper Avenue, Pennsylvania",Y,N,121 Paper Avenue,Pennsylvania,None
19,1020,Anakin,Skywalker,876-678-346,"910 Tatooine Road, Tatooine",Y,N,910 Tatooine Road,Tatooine,None